# Start https_dns_service some time after startup.
# `After=network-online.target` fails with a bind error

[Unit]
Description=Start https_dns_service

[Timer]
OnStartupSec=10s
Persistent=true

[Install]
WantedBy=timers.target
